@import "variables.scss";
@import "common.scss";
@import "sections/menu.scss";  
@import "sections/welcome.scss";
@import "sections/about-me.scss";
@import "sections/projects.scss";
@import "sections/footer.scss";


@media screen and (min-width: 600px) {
  /*---------------------------SKILLS---------------------------*/
  .cv-wrap {
    display: flex;
    align-items: center;
    margin-bottom: 100px;
  }

  .languages {
    width: 50vw;
    /*Ocultar barra de progreso en overflow*/
    overflow: hidden;
  }

  .cv-description {
    width: 50%;
    margin-top: 20px;
  }

  /*---------------------------PROYECTOS---------------------------*/
  .projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .project{
    width: 45vw;
    height: 300px;
    margin: 5px 5px;
    text-align: center;
  }


}

@media screen and (min-width: 1280px) {}

@media screen and (min-width: 1680px) {}