@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300");
@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.eot?v=4.7.0");
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2?v=4.7.0") format("woff2"), url("../fonts/fontawesome-webfont.woff?v=4.7.0") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.7.0") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  /*Font*/
  font-family: 'Source Sans Pro', Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  /*General style*/
  background-color: #ffffff;
  color: #000000;
  margin: 0;
  padding: 0;
  border: 0px;
}

/*---------------------------HEADERS---------------------------*/
h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  line-height: 1.4;
  letter-spacing: -0.05em;
  /*margin: top right bottom left*/
  margin: 0 0 1rem 0;
}

h1 {
  text-align: center;
  font-size: 3rem;
  margin-top: 10px;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 1.5rem;
}

ul {
  /*Eliminates bullet*/
  list-style: none;
}

p {
  margin: 0 0.2rem 2rem 1rem;
  font-size: 1rem;
}

/*---------------------------SEE MORE BUTTON---------------------------*/
.button {
  /*---TRANSITION HOVER---*/
  /*Firefox*/
  /*Chrome y Safari*/
  -webkit-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
  /*Opera*/
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
  /*---APPEARANCE---*/
  border: 0;
  cursor: pointer;
  display: inline-block;
  background-color: transparent;
  /*Border color*/
  -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
  /*Text*/
  color: #000000 !important;
  font-size: 0.75rem;
  letter-spacing: 0.125em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  /*Size*/
  min-width: 14em;
  max-width: 20rem;
  height: 3.8em;
  line-height: 3.75em;
  border-radius: 3.8em;
  padding: 0 2.5em;
  /*Display text inside button*/
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.button:hover {
  -webkit-box-shadow: inset 0 0 0 1px #47D3E5;
          box-shadow: inset 0 0 0 1px #47D3E5;
  color: #47D3E5 !important;
}

.button:active {
  background-color: rgba(71, 211, 229, 0.2);
  -webkit-box-shadow: inset 0 0 0 1px #47D3E5;
          box-shadow: inset 0 0 0 1px #47D3E5;
  color: #47D3E5 !important;
}

/*---------------------------MENU---------------------------*/
.checkbox {
  display: none;
}

header {
  position: fixed;
  width: 100%;
  z-index: 100;
}

.header-container {
  width: 90%;
  position: relative;
  margin: 1rem auto;
}

/*Checkbox appearance*/
/*Menu button's horizontal middle line*/
.header-button {
  width: 2rem;
  height: 0.2rem;
  background: #000000;
  position: absolute;
  top: 2rem;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  cursor: pointer;
}

/*Two other horizontal lines of the menu's button*/
.header-button::before,
.header-button::after {
  content: "";
  width: 2rem;
  height: 0.2rem;
  background: #000000;
  position: absolute;
  top: -0.6rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

/*3rd horizontal line*/
.header-button::after {
  top: 0.6rem;
}

/*When the checkbox/menu button is checked, the menu drops down*/
.checkbox:checked ~ .menu {
  background: rgba(198, 189, 189, 0.6);
  top: 0rem;
}

/*Menu button when the menu is dropped down*/
.checkbox:checked + header .header-container label .header-button {
  background: none;
}

.checkbox:checked + header .header-container label .header-button::before {
  top: 0;
}

.checkbox:checked + header .header-container label .header-button::after {
  top: 0;
}

.menu {
  /*Color you see when the menu is dropping down*/
  background: rgba(198, 189, 189, 0.6);
  width: 100%;
  height: 10rem;
  position: fixed;
  z-index: 1;
  /*Hides the menu*/
  top: -10rem;
  text-align: center;
  padding-top: 2rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.menu a {
  margin: 0 1rem;
  color: #000000;
  text-decoration: none;
}

/*---------------------------WELCOME---------------------------*/
.welcome {
  height: 100vh;
}

@media (max-height: 295px) {
  .welcome {
    height: auto;
  }
}

@media (min-width: 600px) {
  .welcome {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 1200px) {
  .welcome {
    max-width: 1200px;
  }
}

/*---------------------------Profile picture---------------------------*/
.image {
  text-align: center;
  margin: auto;
  position: relative;
}

@media (min-width: 425px) {
  .image {
    /*Blur effect on the right*/
    /*Blur effect on the left*/
  }
  .image:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0vw;
    bottom: 0;
    /*Blur effect fades in from the left*/
    left: 60vw;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), color-stop(90%, white));
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), white 90%);
  }
  .image:after {
    content: '';
    position: absolute;
    top: 0;
    right: 60vw;
    bottom: 0;
    left: 0vw;
    background-image: -webkit-gradient(linear, right top, left top, from(rgba(255, 255, 255, 0)), color-stop(90%, white));
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0), white 90%);
  }
}

@media (min-width: 460px) {
  .image {
    /*Blur effect on the right*/
    /*Blur effect on the left*/
  }
  .image:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0vw;
    bottom: 0;
    /*Blur effect fades in from the left*/
    left: 60vw;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), color-stop(70%, white));
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), white 70%);
  }
  .image:after {
    content: '';
    position: absolute;
    top: 0;
    right: 60vw;
    bottom: 0;
    left: 0vw;
    background-image: -webkit-gradient(linear, right top, left top, from(rgba(255, 255, 255, 0)), color-stop(70%, white));
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0), white 70%);
  }
}

@media (min-width: 560px) {
  .image {
    /*Blur effect on the right*/
    /*Blur effect on the left*/
  }
  .image:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0vw;
    bottom: 0;
    /*Blur effect fades in from the left*/
    left: 60vw;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), color-stop(60%, white));
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), white 60%);
  }
  .image:after {
    content: '';
    position: absolute;
    top: 0;
    right: 60vw;
    bottom: 0;
    left: 0vw;
    background-image: -webkit-gradient(linear, right top, left top, from(rgba(255, 255, 255, 0)), color-stop(60%, white));
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0), white 60%);
  }
}

@media (min-width: 600px) {
  .image {
    width: 50vw;
    z-index: 2;
  }
}

.image figcaption {
  display: none;
}

.image img, .image picture {
  display: inline-block;
  width: auto;
  height: auto;
  max-height: 50vh;
}

@media (min-width: 600px) {
  .image img, .image picture {
    -webkit-clip-path: circle(45% at 50% 50%);
    clip-path: circle(45% at 50% 50%);
    width: auto;
    max-width: 50vw;
    height: auto;
    max-height: 60vh;
  }
}

/*---------------------------Container---------------------------*/
.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*direction*/
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -moz-flex-direction: column;
  /*align*/
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.intro {
  margin: auto;
  width: 80vw;
  width: 50vh;
}

.intro p {
  text-align: center;
}

@media (min-width: 600px) {
  .intro {
    width: 50vw;
  }
}

/*---------------------------ABOUT ME---------------------------*/
.cv {
  margin: auto;
  display: block;
}

.cv h2 {
  display: none;
}

@media (min-width: 1200px) {
  .cv {
    max-width: 1200px;
  }
}

.cv-wrap {
  margin-bottom: 100px;
}

@media (min-width: 600px) {
  .cv-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 100px;
  }
}

/*---------------------------Languages---------------------------*/
.languages {
  width: 100vw;
  overflow: hidden;
}

.language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
  margin-left: 10px;
  height: auto;
}

.group-icon {
  width: 60vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (min-width: 600px) {
  .group-icon {
    width: 60%;
  }
}

.icon-language {
  width: 30px;
  margin-right: 10px;
  position: relative;
  top: 9px;
}

/*---------------------------Tooltip---------------------------*/
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  border-radius: 6px;
  padding: 2px 0;
  height: 2rem;
  font-size: 12px;
  /* Position the tooltip */
  /*Tooltip on the bottom by default*/
  position: absolute;
  z-index: 10;
  /*Tooltip on the bottom
    top: 100%;
    left: 50%;
    margin-left: -60px;*/
  /* Use half of the width (120/2 = 60), to center the tooltip */
  /*Tooltip on the Right
    top: -5px;
    left: 105%;*/
  /*Tooltip on the left
    top: -5px;
    right: 105%; */
  /*Tooltip on the top*/
  bottom: 60%;
  left: 50%;
  margin-left: -60px;
  /* Use half of the width (120/2 = 60), to center the tooltip */
  /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
  opacity: 0;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 0.5;
}

/*Bottom arrow*/
.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  /*Position the arrow inside the tooltip: top: 100% will place the arrow at
    the bottom of the tooltip. left: 50% will center the arrow.*/
  top: 100%;
  left: 50%;
  /*The border-width property specifies the size of the arrow.
    If you change this, also change the margin-left value to the same.
    This will keep the arrow centered.*/
  margin-left: -5px;
  border-width: 5px;
  /*The border-color is used to transform the content into an arrow.
    We set the top border to black, and the rest to transparent.
    If all sides were black, you would end up with a black square box.*/
  border-style: solid;
  border-color: black transparent transparent transparent;
  /*LEFT ARROW
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;*/
  /*RIGHT ARROW
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent black;*/
}

/*---------------------------Progress bar---------------------------*/
progress[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  width: 35vw;
}

/*The container*/
progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

/*The bar*/
progress[value]::-webkit-progress-value {
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.25)), -webkit-linear-gradient(left, #1A181B, #BCB8B1);
  border-radius: 2px;
  background-size: 35px 20px, 100% 100%, 100% 100%;
}

/*---------------------------CV description---------------------------*/
.cv-description {
  width: 100vw;
  margin-top: 20px;
}

/*---------------------------PROJECTS---------------------------*/
.portfolio {
  height: auto;
  margin: auto;
}

@media (min-width: 1200px) {
  .portfolio {
    width: 1200px;
  }
}

#portfolio-project {
  background-color: #E0AFA0;
}

#portfolio-project .image-projects {
  background-image: url("../../../images/Site-Icon/girl6b.png");
  background-size: 140px;
}

@media (min-width: 600px) {
  #portfolio-project .image-projects {
    background-size: 120px;
    clip-path: circle(30% at 50% 50%);
    -webkit-clip-path: circle(30% at 50% 50%);
  }
}

@media (min-width: 1200px) {
  #portfolio-project .image-projects {
    background-size: 130px;
  }
}

#clock-project {
  background-color: #827191;
}

#clock-project .image-projects {
  background-image: url("../../../images/clock.jpg");
  background-size: 200px;
}

@media (min-width: 600px) {
  #clock-project .image-projects {
    background-size: 160px;
    clip-path: circle(30% at 50% 50%);
    -webkit-clip-path: circle(30% at 50% 50%);
  }
}

@media (min-width: 1200px) {
  #clock-project .image-projects {
    background-size: 180px;
  }
}

.image-projects {
  height: 160px;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-clip-path: circle(20% at 50% 50%);
  clip-path: circle(20% at 50% 50%);
}

@media (min-width: 600px) {
  .image-projects {
    width: 20%;
  }
}

.project {
  width: 80vw;
  min-height: 160px;
  height: auto;
  margin: auto;
  margin-bottom: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.project a {
  text-transform: uppercase;
  font-size: 1.2em;
}

@media (min-width: 600px) {
  .project {
    width: 100%;
    margin: 5px 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media (min-width: 1200px) {
  .project {
    margin: 5px 5px;
  }
}

.project p {
  color: #ffffff;
  margin-bottom: 8px;
  text-align: left;
}

.project h2 {
  color: #ffffff;
}

.project a {
  color: #ffffff;
  margin: 0px;
  margin-right: 1em;
}

#project-wrap {
  width: 100%;
}

@media (min-width: 600px) {
  #project-wrap h2 {
    text-transform: uppercase;
    text-align: left;
  }
}

/*---------------------------CONTACT---------------------------*/
#contact ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 20px;
  height: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fa-linkedin, .fa-github, .fa-envelope {
  font-size: 2em;
  color: #605D5D;
}
/*# sourceMappingURL=main.css.map */