/*
- Body
- Custom Scrollbar
- Full Page Scroll
- Navigation Bar
- Media Queries
*/

$phone: 400px;
$tablet: 768px;
$desktop: 1366px;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    color: white;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

body {
    overflow: hidden;
}

/* ONE PAGE SCROLL */

/* SECTIONS */
.section-container {
    position: relative;
    overflow: hidden;

    transition: 1s cubic-bezier(0.5, 0, 0.5, 1);
}

section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.panel {
    position: relative;
    height: 100vh;
}

.text {
    position: absolute;
    left: 20%;
    opacity: 0;
    transform: translateY(100px);
    transition: all 0.5s 0.5s;
}

.text.show {
    opacity: 1;
    transform: translateY(0);
}

.home-section {
    background: #a8c0ff;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3f2b96, #a8c0ff);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3f2b96, #a8c0ff);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.about-section {
    background: #355C7D;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #C06C84, #6C5B7B, #355C7D);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #C06C84, #6C5B7B, #355C7D);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.projects-section {
    background: #40E0D0;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FF0080, #FF8C00, #40E0D0);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FF0080, #FF8C00, #40E0D0);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.contact-section {
    background: #FC5C7D;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6A82FB, #FC5C7D);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6A82FB, #FC5C7D);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* NAVIGATION BAR */
.navbar {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 0 2rem;

    .nav-logo {
        text-transform: uppercase;
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
        letter-spacing: 0.5rem;
        font-size: 1.5rem;
        color: white;
    }

    .nav-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav-item {
        list-style: none;
    }

    .nav-link {
        text-decoration: none;
        letter-spacing: 0.15rem;
        font-weight: bold;
        font-size: 0.9rem;
        color: white;
    }

    .nav-link:hover,
    .nav-link.active {
        color: #482ff7;
    }

    .navbar .nav-menu .nav-item .nav-link.active a {
        color: #482ff7;
    }

    .burger-menu {
        display: none;
    }

    .burger-menu div {
        display: block;
        width: 1.7rem;
        height: 0.2rem;
        margin: 0.3rem;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: white;
    }
}

.glass-effect {
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    border: 1px solid rgba(255, 255, 255, 0.18);
}

/* Mobile Styles */
@media screen and (min-width: $phone) and (max-width: $tablet) {
    .nav-menu {
        position: fixed;
        right: -100%;
        top: 10vh;
        height: 90vh;
        width: 100vw;
        flex-direction: column;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);

        background: rgba(255, 255, 255, 0.25);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(7px);
        -webkit-backdrop-filter: blur(7px);
        border: 1px solid rgba(255, 255, 255, 0.18);
    }

    .nav-menu.active {
        right: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .burger-menu {
        display: block !important;
        cursor: pointer;
    }

    /* Burger lines animation */
    .burger-menu.active .bar:nth-child(2) {
        opacity: 0;
    }

    .burger-menu.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .burger-menu.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

@media screen and (min-width: $tablet) {
    .nav-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 10vh;
        padding: 0 2rem;
    }

    .nav-item {
        margin: 0 1rem;
    }
}