@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bad+Script&family=Poppins:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300&display=swap");
/*
- Body
- One Page Scroll
- Navigation Bar
- Section
- Home Section
- About Section
- Projects Section
- Contact Section
- Tablet Media Queries
- Desktop Media Queries
*/
/*
320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV
*/
/* ------------- BODY ------------- */
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  color: white;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}

body {
  overflow: hidden;
}

.title {
  font-family: 'Bad Script', cursive;
  font-size: 5rem;
  color: #F5A9B7;
  position: relative;
  left: 5rem;
}

h2 {
  font-size: 2rem;
  position: relative;
  left: 5rem;
}

/* ------------- ONE PAGE SCROLL ------------- */
.text {
  width: 100vw;
  opacity: 0;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  -webkit-transition: all 0.5s 0.5s;
  transition: all 0.5s 0.5s;
}

.text.show {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.prev,
.next {
  opacity: 0;
}

/* ------------- NAVIGATION BAR ------------- */
.navbar {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10vh;
  padding: 0 2rem;
}

.navbar a {
  text-decoration: none;
  color: white;
}

.navbar .nav-logo {
  text-transform: uppercase;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  letter-spacing: 0.5rem;
  font-size: 1.5rem;
  color: white;
}

.navbar .nav-menu {
  position: fixed;
  right: -110%;
  top: 10vh;
  height: 90vh;
  width: 100vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
          box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
}

.navbar .nav-item {
  list-style: none;
  margin: 2.5rem 0;
}

.navbar .nav-link {
  text-decoration: none;
  letter-spacing: 0.15rem;
  font-weight: bold;
  font-size: 0.9rem;
  color: #F5A9B7;
}

.navbar .nav-link:hover,
.navbar .nav-link.active {
  color: #CAA6D6;
}

.navbar .navbar .nav-menu .nav-item .nav-link.active a {
  color: #CAA6D6;
}

.navbar .burger-menu {
  display: block;
  cursor: pointer;
}

.navbar .burger-menu div {
  display: block;
  width: 1.7rem;
  height: 0.2rem;
  margin: 0.3rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

.navbar .nav-menu.active {
  right: 0;
  background: rgba(255, 255, 255, 0.7);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

/* Burger lines animation */
.burger-menu.active .bar:nth-child(2) {
  opacity: 0;
}

.burger-menu.active .bar:nth-child(1) {
  -webkit-transform: translateY(8px) rotate(45deg);
          transform: translateY(8px) rotate(45deg);
}

.burger-menu.active .bar:nth-child(3) {
  -webkit-transform: translateY(-8px) rotate(-45deg);
          transform: translateY(-8px) rotate(-45deg);
}

.glass-effect {
  background: rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.nav {
  opacity: 0;
}

/* ------------- SECTIONS ------------- */
.section-container {
  position: relative;
  overflow: hidden;
  -webkit-transition: 1s cubic-bezier(0.5, 0, 0.5, 1);
  transition: 1s cubic-bezier(0.5, 0, 0.5, 1);
}

section {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.redirect {
  font-size: 1.25rem;
  margin-right: 1rem;
}

.section-title {
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  color: white;
  position: relative;
  left: 5rem;
  margin-bottom: 2rem;
  font-weight: bold;
}

/* ------------- HOME SECTION ------------- */
.home-section {
  /* fallback for old browsers */
  background: #a8c0ff;
  background-image: url("../../img/mt-fuji.png");
}

.home-subtitle {
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  color: #395F75;
  position: relative;
  left: 5rem;
}

.home-description {
  font-family: 'Hind', sans-serif;
  font-size: 1rem;
  color: #395F75;
  position: relative;
  left: 5rem;
  width: 80%;
}

@-webkit-keyframes colorChange {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: .9;
  }
}

@keyframes colorChange {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: .9;
  }
}

.arrow-circle-down {
  display: block;
  width: 40px;
  height: 40px;
  margin: 16px 0;
  /*fill: #fff;*/
}

.bounce {
  -webkit-animation: bounce 2s;
  animation: bounce 2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes bounce {
  0%,
  25%,
  50%,
  75%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  60% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
  }
}

@keyframes bounce {
  0%,
  25%,
  50%,
  75%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  60% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
  }
}

.know-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  bottom: -14rem;
}

/* ------------- ABOUT SECTION ------------- */
.about-section {
  /* fallback for old browsers */
  background: #2B4553;
  /* Chrome 10-25, Safari 5.1-6 */
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: -webkit-gradient(linear, left top, left bottom, from(#2B4553), color-stop(#44586F), color-stop(#656A8A), color-stop(#8B7CA0), color-stop(#B58DB0), to(#F5A9B7));
  background: linear-gradient(to bottom, #2B4553, #44586F, #656A8A, #8B7CA0, #B58DB0, #F5A9B7);
}

.description-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 75%;
  position: relative;
  left: 5rem;
}

.avatar {
  width: 150px;
  height: 150px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 5px white solid;
  border-radius: 50%;
  overflow: hidden;
  -webkit-box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
          box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
  -webkit-transform: translatey(0px);
          transform: translatey(0px);
  -webkit-animation: float 6s ease-in-out infinite;
          animation: float 6s ease-in-out infinite;
  margin-right: 1rem;
}

.avatar img {
  width: 100%;
  height: auto;
}

@-webkit-keyframes float {
  0% {
    -webkit-box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
            box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  50% {
    -webkit-box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    -webkit-transform: translatey(-20px);
            transform: translatey(-20px);
  }
  100% {
    -webkit-box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
            box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}

@keyframes float {
  0% {
    -webkit-box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
            box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  50% {
    -webkit-box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    -webkit-transform: translatey(-20px);
            transform: translatey(-20px);
  }
  100% {
    -webkit-box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
            box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}

.about-me-description {
  font-family: 'Hind', sans-serif;
  font-size: 1rem;
  color: white;
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.skills-list {
  font-family: 'Hind', sans-serif;
  margin-top: 2rem;
  position: relative;
  left: 5rem;
}

.illustration {
  display: none;
}

.see-projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  bottom: -3rem;
}

.see-projects p {
  font-size: 1.25rem;
  margin-right: 1rem;
}

/* ------------- PROJECTS SECTION ------------- */
.projects-section {
  background: #40E0D0;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(#F5A9B7), color-stop(#FFE8F7), color-stop(#FFF5FF), to(#FFFFFF));
  background: linear-gradient(to bottom, #F5A9B7, #FFE8F7, #FFF5FF, #FFFFFF);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* ------------- CONTACT SECTION ------------- */
.contact-section {
  background: #FC5C7D;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#6A82FB), to(#FC5C7D));
  background: linear-gradient(to right, #6A82FB, #FC5C7D);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* ------------- TABLET ------------- */
@media screen and (min-width: 768px) {
  .navbar {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 10vh;
    padding: 0 2rem;
  }
  .navbar .nav-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: relative;
    right: 0;
    top: 0;
    width: 50%;
    text-align: center;
    height: 10vh;
    background: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    backdrop-filter: blur(0);
    -webkit-backdrop-filter: blur(0);
    border: none;
  }
  .navbar .nav-menu.active {
    right: 0;
    background: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    backdrop-filter: blur(0);
    -webkit-backdrop-filter: blur(0);
    border: none;
  }
  .navbar .nav-item {
    list-style: none;
    margin: 0;
  }
  .navbar .burger-menu {
    display: none;
  }
  .navbar .nav-link {
    color: white;
  }
  .navbar .nav-link:hover,
  .navbar .nav-link.active {
    color: #F5A9B7;
  }
  .navbar .navbar .nav-menu .nav-item .nav-link.active a {
    color: #F5A9B7;
  }
  /* ------------- HOME SECTION ------------- */
  .home-subtitle {
    font-size: 3rem;
    position: relative;
    left: 5rem;
  }
  .home-description {
    font-size: 1.5rem;
    position: relative;
    left: 5rem;
    width: 90%;
  }
  /* ------------- ABOUT SECTION ------------- */
  .about-section {
    margin-top: 2rem;
  }
  .description-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    width: 80%;
    left: 0;
    margin: auto;
  }
  .avatar {
    width: 12rem;
    height: 12rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: 4px white solid;
    border-radius: 50%;
    overflow: hidden;
    -webkit-box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
            box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
    -webkit-animation: float 6s ease-in-out infinite;
            animation: float 6s ease-in-out infinite;
    margin-right: 1rem;
  }
  .avatar img {
    width: 100%;
    height: auto;
  }
  .skills-list {
    margin-top: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .illustration {
    display: block;
    height: 15rem;
  }
}

/* ------------- DESKTOP ------------- */
/*# sourceMappingURL=styles.css.map */