@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300');

@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.7.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /*Fuente*/
  font-family: 'Source Sans Pro', Helvetica, sans-serif;
  vertical-align: baseline;
  font-size: 1rem;
  line-height: 1.6;
  /*Estilo*/
  background-color: #ffffff;
  color: #000000;
  margin: 0;
  padding: 0;
  border: 0px;
}

/*---------------------------HEADERS---------------------------*/
h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  line-height: 1.4;
  letter-spacing: -0.05em;
  /*margin: top right bottom left*/
  margin: 0 0 1rem 0;
}

h1 {
  text-align: center;
  font-size: 3rem;
  margin-top: 10px;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.1rem;
}

h5 {
  font-size: 0.9rem;
}

h6 {
  font-size: 0.7rem;
}

/*---------------------------PARAGRAPHS---------------------------*/
p {
  /*margin: top right bottom left*/
  margin: 0 0.2rem 2rem 1rem;
}

p.major {
  font-size: 1rem;
}

/*---------------------------MENU---------------------------*/
header{
  position: fixed;
  width: 100%;
  /*Para que este arriba del resto de los elementos de la pagina*/
  z-index: 100;
}

.header-container{
  width:90%;
  position: relative;
  margin: 1rem auto;
}

/*Barra horizontal del medio del boton de menu*/
.header-button {
  /*Ancho de la barra del boton*/
  width: 2rem;
  /*Grosor de la barra del boton*/
  height: 0.2rem;
  /*Color de la barra*/
  background: #000;
  position: absolute;
  top: 2rem;
  transition: all 0.4s;
  cursor: pointer;
}

/*Creamos las otras dos barras del boton de menu*/
.header-button::before,
.header-button::after {
  content: "";
  width: 2rem;
  height: 0.2rem;
  background: #000;
  position: absolute;
  top: -0.6rem;
  transition: all 0.2s;
}

/*3ra Barra del boton del menu*/
.header-button::after {
  top: 0.6rem;
}

.menu {
  background: #d1d1d1;
  width: 100%;
  height: 10rem;
  position: fixed;
  z-index: 9;
  top: -12rem;
  text-align: center;
  padding-top: 2rem;
  transition: all 0.5s;
}

.checkbox {
  display: none;
}

.checkbox:checked ~ .menu {
  background: rgba(198,189,189,0.6);
  top: 0rem;

}
.checkbox:checked + header .header-container label .header-button {
  background: none;
}
.checkbox:checked + header .header-container label .header-button::before {
  top: 0;
}
.checkbox:checked + header .header-container label .header-button::after {
  top: 0;
}

a {
  margin: 0 1rem;
  color: #000;
  text-decoration: none;
}

/*---------------------------BUTTON---------------------------*/
ul {
  /*Quitar bullet*/
  list-style: none;
}


.button {
  /*---TRANSITION HOVER---*/
  /*Firefox*/
  -moz-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
  /*Chrome y Safari*/
  -webkit-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
  /*Opera*/
  -o-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
  /*---APARIENCIA---*/
  border: 0;
  cursor: pointer;
  display: inline-block;
  min-width: 14em;
  background-color: transparent;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
  color: #000000 !important;
  /*font*/
  font-weight: 400;
  letter-spacing: 0.125em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.75rem;
  /*Size*/
  max-width: 20rem;
  height: 3.8em;
  line-height: 3.75em;
  border-radius: 3.8em;
  padding: 0 2.5em;
  /*Display del texto dentro del button*/
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.button:hover {
  box-shadow: inset 0 0 0 1px #47D3E5;
  color: #47D3E5 !important;
}

.button:active {
  background-color: rgba(71, 211, 229, 0.2);
  box-shadow: inset 0 0 0 1px #47D3E5;
  color: #47D3E5 !important;
}


/*---------------------------IMAGE---------------------------*/
.image {
  border: 0;
  border-radius: 4px;
  display: inline-block;
  /*Posicion relativa a su posicion en una pagina estatica*/
  position: relative;
}

.image img {
  display: block;
  width: 100%;
}

/*---------------------------SECTION---------------------------*/
.welcome {
  min-height: 100vh;
}

.container {
  display: flex;
  /*direction*/
  flex-direction: column;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  /*align*/
  align-items: center;
  -webkit-align-items: center;
  /* Safari 7.0+ */
}

/*---------------------------SKILLS---------------------------*/
.cv-wrap {
  margin-bottom: 100px;
}

.languages {
  width: 100vw;
  /*Ocultar barra de progreso en overflow*/
  overflow: hidden;
}

.language {
  /*Alinear verticalmente*/
  display: flex;
  align-items: center;

  margin-top: 15px;
  margin-left: 10px;
  height: auto;
}

.icon-language {
  width: 30px;
  margin-right: 10px;
  position: relative;
  top: 9px;
}

/*---------------------------CV DESCRIPTION---------------------------*/
.cv-description {
  width: 100vw;
  margin-top: 20px;
}

/*---------------------------BARRA DE PROGRESO---------------------------*/
progress[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
  appearance: none;
  width: 35vw;
}

/*The container*/
progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

/*The bar*/
progress[value]::-webkit-progress-value {
  background-image:
    /* for top to bottom shadowing*/
    -webkit-linear-gradient(top,
    rgba(255, 255, 255, .25),
    rgba(0, 0, 0, .25)),
    /* for left to right color variation*/
    -webkit-linear-gradient(left, #1A181B, #BCB8B1);
  border-radius: 2px;
  background-size: 35px 20px, 100% 100%, 100% 100%;
}

/*---------------------------PROYECTOS---------------------------*/
.portfolio{
  height: auto;
}

.project{
  width: 80vw;
  height: 300px;
  margin: auto;
  margin-bottom: 10px;
  text-align: center;
}

.project p, .project h2{
  color:white;
}


/*---------------------------FOOTER---------------------------*/
#contact ul{
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;

  height: 100px;
  align-items: center;
}

/*---------------------------TOOLTIP---------------------------*/
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 2px 0;
  height: 2rem;
  font-size: 12px;

  /* Position the tooltip */
  /*Tooltip on the bottom by default*/
  position: absolute;
  z-index: 10;

  /*Tooltip on the bottom
  top: 100%;
  left: 50%;
  margin-left: -60px;*/ /* Use half of the width (120/2 = 60), to center the tooltip */

  /*Tooltip on the Right
  top: -5px;
  left: 105%;*/

  /*Tooltip on the left
  top: -5px;
  right: 105%; */

  /*Tooltip on the top*/
  bottom: 60%;
  left: 50%;
  margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */

  /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
  opacity: 0;
  transition: opacity 1s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 0.5;
}

/*Bottom arrow*/
.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  /*Position the arrow inside the tooltip: top: 100% will place the arrow at
  the bottom of the tooltip. left: 50% will center the arrow.*/
  top: 100%;
  left: 50%;

  /*The border-width property specifies the size of the arrow.
  If you change this, also change the margin-left value to the same.
  This will keep the arrow centered.*/
  margin-left: -5px;
  border-width: 5px;

  /*The border-color is used to transform the content into an arrow.
  We set the top border to black, and the rest to transparent.
  If all sides were black, you would end up with a black square box.*/
  border-style: solid;
  border-color: black transparent transparent transparent;

  /*LEFT ARROW
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;*/

  /*RIGHT ARROW
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent black;*/
}



@media screen and (min-width: 600px) {
  /*---------------------------SKILLS---------------------------*/
  .cv-wrap {
    display: flex;
    align-items: center;
    margin-bottom: 100px;
  }

  .languages {
    width: 50vw;
    /*Ocultar barra de progreso en overflow*/
    overflow: hidden;
  }

  .cv-description {
    width: 50%;
    margin-top: 20px;
  }

  /*---------------------------PROYECTOS---------------------------*/
  .projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .project{
    width: 45vw;
    height: 300px;
    margin: 5px 5px;
    text-align: center;
  }


}

@media screen and (min-width: 1280px) {}

@media screen and (min-width: 1680px) {}
