/*---------------------------CONTACT---------------------------*/
#contact ul{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  
    height: 100px;
    align-items: center;
  }