/*---------------------------WELCOME---------------------------*/
.welcome {
    min-height: 100vh;
  }
  
  /*---------------------------Profile picture---------------------------*/
  .image {
    border: 0;
    display: inline-block;
    figcaption{
      display: none;
    }
  
    img {
      display: block;
      width: 100%;
    }
  }
  
  /*---------------------------Container---------------------------*/
  .container {
    display: flex;
    /*direction*/
    flex-direction: column;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    /*align*/
    align-items: center;
    -webkit-align-items: center;
    /* Safari 7.0+ */
  }