*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    /*Font*/
    font-family: 'Source Sans Pro', Helvetica, sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    /*General style*/
    background-color: color(site-background-color);
    color: color(site-text-color);
    margin: 0;
    padding: 0;
    border: 0px;
  }
  
  /*---------------------------HEADERS---------------------------*/
  h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    line-height: 1.4;
    letter-spacing: -0.05em;
    /*margin: top right bottom left*/
    margin: 0 0 1rem 0;
  }
  
  h1 {
    text-align: center;
    font-size: 3rem;
    margin-top: 10px;
  }
  
  h2 {
    font-size: 2.25rem;
  }
  
  h3 {
    font-size: 1.5rem;
  }
  
  ul {
      /*Eliminates bullet*/
      list-style: none;
    }
  
  /* -------------------------- ARREGLAR P PARA BODY Y OTRO PARA PORTFOLIO -------------*/
  p {
    margin: 0 0.2rem 2rem 1rem;
  }
  
  p.major {
    font-size: 1rem;
  }
  
  /*---------------------------SEE MORE BUTTON---------------------------*/
.button {
    /*---TRANSITION HOVER---*/
    /*Firefox*/
    -moz-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
    /*Chrome y Safari*/
    -webkit-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
    /*Opera*/
    -o-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
    
    /*---APPEARANCE---*/
    border: 0;
    cursor: pointer;
    display: inline-block;
    background-color: transparent;
    /*Border color*/
    -webkit-box-shadow: color(see-more-button-boder-color);
    box-shadow: color(see-more-button-boder-color);
  
    /*Text*/
    color: color(see-more-button-text-color);
    font-size: font(see-more-button-font-size);
    font-weight: font(see-more-button-text-weight);
    letter-spacing: font(see-more-button-text-spacing);
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    
    /*Size*/
    min-width: 14em;
    max-width: 20rem;
    height: 3.8em;
    line-height: 3.75em;
    border-radius: 3.8em;
    padding: 0 2.5em;
  
    /*Display text inside button*/
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  
  .button:hover {
    box-shadow: color(see-more-button-boder-color-hover);
    color: color(see-more-button-text-color-hover);
  }
  
  .button:active {
    background-color: color(see-more-button-background-active);
    box-shadow: color(see-more-button-boder-color-hover);
    color: color(see-more-button-text-color-hover);
  }