/*---------------------------PROJECTS---------------------------*/
.portfolio{
    height: auto;
    margin: auto;

    @include desktop{
      width: 1200px;
    }
  }

  .projects{
    @include tablet{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

  }

  .project{
    width: 80vw;
    min-height: 200px;
    height: auto;
    margin: auto;
    margin-bottom: 10px;
    padding-bottom: 10px;
    text-align: center;
  
    @include tablet{
      width: 45vw;
      margin: 5px 5px;
    }

    @include desktop{
      width: 500px;      
      margin: 5px 5px;
    }

    p{
      color:color(project-text-color);
      margin-bottom: 8px;
      text-align: left;
    }
  
    h2{
      color:color(project-text-color);
    }
  
    a{
      color: color(project-link-color);
      margin: 0px;
    }
  }