/*---------------------------PROJECTS---------------------------*/
.portfolio{
    height: auto;
    margin: auto;
    
    @include desktop{
      width: 1200px;
    }
}


#portfolio-project{
  background-color:#E0AFA0;

  .image-projects{
    background-image: url("../../../images/Site-Icon/girl6b.png");
    background-size: 140px;

  @include tablet {
    background-size: 120px;
    clip-path: circle(30% at 50% 50%);
    -webkit-clip-path: circle(30% at 50% 50%);
  }

  @include desktop{
    background-size: 130px;
    }
  }
}

#clock-project{
  background-color:#827191;
  .image-projects{
    background-image: url("../../../images/clock.jpg");
    background-size: 200px;

  @include tablet {
    background-size: 160px;
    clip-path: circle(30% at 50% 50%);
    -webkit-clip-path: circle(30% at 50% 50%);
  }

  @include desktop{
    background-size: 180px;
    }
  }

}

.image-projects{
    height: 160px;
    background-position: center;
    background-repeat: no-repeat;
    
    -webkit-clip-path: circle(20% at 50% 50%);
    clip-path: circle(20% at 50% 50%);

    @include tablet{
      width: 20%;      
    }
}

.project{
    width: 80vw;
    min-height: 160px;
    height: auto;
    margin: auto;
    margin-bottom: 10px;
    padding-bottom: 10px;
    text-align: center;
  
    a{
      text-transform: uppercase;
      font-size: 1.2em;
    }

    @include tablet{
      width: 100%;
      margin: 5px 5px;
      
      display: flex;
      justify-content: flex-start;
    }

    @include desktop{
      margin: 5px 5px;
    }

    p{
      color:color(project-text-color);
      margin-bottom: 8px;
      text-align: left;
    }
  
    h2{
      color:color(project-text-color);
    }
  
    a{
      color: color(project-link-color);
      margin: 0px;
    }
}

#project-wrap{
  width: auto;

  @include tablet{
    h2{
      text-transform: uppercase;
      text-align: left;
    }
  }
}