@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300');

@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.7.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal
}

$colors: (
    site-background-color: #ffffff,
    site-text-color: #000000,
    menu-button-color: #000000,
    menu-background-color:rgba(198,189,189,0.6),
    menu-link-color: #000000,
    see-more-button-boder-color: inset 0 0 0 1px rgba(0, 0, 0, 0.2),
    see-more-button-text-color: #000000 !important,
    see-more-button-boder-color-hover: inset 0 0 0 1px #47D3E5,
    see-more-button-text-color-hover: #47D3E5 !important,
    see-more-button-background-active: rgba(71, 211, 229, 0.2),
    project-text-color: #ffffff,
    project-link-color: #ffffff,
    tooltip-background-color: #000000,
    tooltip-text-color: #ffffff
);

$fonts:(
  see-more-button-font-weight: 500em,
  see-more-button-text-spacing: 0.125em,
  see-more-button-font-size: 0.75rem
);

@function color($color-name){
    @return map-get($colors,$color-name);
}

@function font($font-variable){
  @return map-get($fonts, $font-variable);
}

$mobile: 425px;
$mobile2: 460px;
$mobile3: 560px;
$tablet: 600px;
$desktop: 1200px;

@mixin mobile {
  @media (min-width:#{$mobile}){
    @content;
  }
}

@mixin mobile2 {
  @media (min-width:#{$mobile2}){
    @content;
  }
}

@mixin mobile3 {
  @media (min-width:#{$mobile3}){
    @content;
  }
}

@mixin tablet {
  @media (min-width:#{$tablet}){
    @content;
  }
}

@mixin desktop {
  @media (min-width:#{$desktop}){
    @content;
  }
}

