/*---------------------------WELCOME---------------------------*/
.welcome {
    height: 100vh;

    @include tablet{
      display: flex;
      flex-direction: row;
    }
}

  /*---------------------------Profile picture---------------------------*/
  .image {
    border: 0;
    text-align:center;

    @include tablet{
      width:50vw;
    }

    figcaption{
      display: none;
    }
    
    img {
      display: inline-block;
      width: auto;
      height:auto;
      max-height: 50vh;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }
  }
  
  /*---------------------------Container---------------------------*/
  .container {
    display: flex;
    width: 100wh;

    /*direction*/
    flex-direction: column;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    /*align*/
    align-items: center;
    -webkit-align-items: center;

    @include tablet{
      width:50vw;
      justify-content: center;
    }
  }

  .intro{
    height: 50vh;
  }