/*---------------------------WELCOME---------------------------*/
.welcome {
    height: 100vh;

    @include smallH{
      height: auto;
    }

    @include tablet{
      display: flex;
      flex-direction: row;
      align-items: center;      
    }

    @include desktop{
      max-width: 1200px;
    }    
}

  /*---------------------------Profile picture---------------------------*/
  .image {
    text-align:center;
    margin: auto;
    position: relative;

    @include mobile{
      /*Blur effect on the right*/
      &:before {
        content: '';
        position: absolute;
        top: 0;
	      right: 0vw;
        bottom: 0;
        /*Blur effect fades in from the left*/
	      left: 60vw;
        background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)90%);
    }

    /*Blur effect on the left*/
      &:after {
        content: '';
        position: absolute;
        top: 0;
	      right: 60vw;
	      bottom: 0;
	      left: 0vw;
        background-image: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)90%);
      }
    }

    @include mobile2{
      /*Blur effect on the right*/
      &:before {
        content: '';
        position: absolute;
        top: 0;
	      right: 0vw;
        bottom: 0;
        /*Blur effect fades in from the left*/
	      left: 60vw;
        background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)70%);
    }

    /*Blur effect on the left*/
      &:after {
        content: '';
        position: absolute;
        top: 0;
	      right: 60vw;
	      bottom: 0;
	      left: 0vw;
        background-image: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)70%);
      }
    }

    @include mobile3{
      /*Blur effect on the right*/
      &:before {
        content: '';
        position: absolute;
        top: 0;
	      right: 0vw;
        bottom: 0;
        /*Blur effect fades in from the left*/
	      left: 60vw;
        background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)60%);
    }

    /*Blur effect on the left*/
      &:after {
        content: '';
        position: absolute;
        top: 0;
	      right: 60vw;
	      bottom: 0;
	      left: 0vw;
        background-image: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)60%);
      }
    }

    @include tablet{
      width:50vw; 
      z-index: 2;
    }

    figcaption{
      display: none;
    }
    
    img, picture {
      display: inline-block;
      width: auto;
      height:auto;
      max-height: 50vh;    

      @include tablet{
        -webkit-clip-path: circle(45% at 50% 50%);
        clip-path: circle(45% at 50% 50%);
        width: auto;
        max-width: 50vw;
        height:auto;
        max-height: 60vh;
      }
    }
  }
  

  /*---------------------------Container---------------------------*/
  .container {
    display: flex;
    
    /*direction*/
    flex-direction: column;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    /*align*/
    align-items: center;
    -webkit-align-items: center;
    text-align: center;
    justify-content: center;

    
  }

  .intro{
    margin: auto;
    width: 80vw;
    p{
      text-align: center;
    }

    width: 50vh;
      @include tablet{
        width:50vw;
      }
  }