/*---------------------------WELCOME---------------------------*/
.welcome {
    height: 100vh;

    @include tablet{
      display: flex;
      flex-direction: row;
    }
}

  /*---------------------------Profile picture---------------------------*/
  .image {
    border: 0;
    display: inline-block;

    @include tablet{
      width:50vw;
    }

    figcaption{
      display: none;
    }
  
    img {
      display: block;
      width: 100%;
    }
  }
  
  /*---------------------------Container---------------------------*/
  .container {
    display: flex;
    width: 100wh;

    /*direction*/
    flex-direction: column;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    /*align*/
    align-items: center;
    -webkit-align-items: center;

    @include tablet{
      width:50vw;
      justify-content: center;
    }
  }